

.my-table th{
  text-wrap-mode: nowrap;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chosen-container-single .chosen-single{
  /* height: 40px;
  padding: 6px 14px !important; */
  background: none !important;
  border-color: #e5e7eb !important;
}

.my-drop .chosen-container-single .chosen-single{
  height: 40px;
  padding: 6px 14px !important;
}
.my-drop .chosen-container{
  width: 100% !important;
}